fastapi
uvicorn
sqlalchemy
asyncpg
pydantic-settings
langgraph
langchain-openai
gradio
python-dotenv
alembic
psycopg2-binary
httpx
langsmith
langgraph-checkpoint-postgres
psycopg[binary]
psycopg-pool
